@media screen and (min-width:845px) {

  body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'open sans', sans-serif;
    font-size: 19pt;
    font-weight: 300;
    line-height: 1.75em;
    /*background-color: rgb(238, 238, 238); */
    background-color: #FFFFFF;
  }


  #header {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #041230;
    box-shadow: 15px 0px 10px -15px #111;
    color: #FFFFFF;
    height: 100%;
    left: 0;
    overflow-y: auto;
    position: fixed;
    text-align: right;
    top: 0;
    width: 20%;
    z-index: 3;
  }

  #logo {
    position: relative;
    min-height: 48px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    padding: 30px;
    float: left;
  }

  #logo h1 {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    font-weight: 600;
    font-size: 1em;
    line-height: 1em;
  }

  #logo p {
    position: relative;
    display: block;
    font-size: 0.6em;
    line-height: 1.25em;
    margin: 0.5em 0 0 0;
  }

  nav {
    margin-top: 50px;
  }

  .topnav ul {
    list-style: none;
    padding-left: 0;
  }

  .topnav ul li {
    padding-left: 0;
  }

  .topnav ul li a {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    display: inline-block;
    padding-right: 30px;
    text-decoration: none;
    font-size: 16px;
    outline: 0;
    border: 0;
    transition: none;
  }

  .icon {
    display: none;
  }

  /* Main */
  #main {
    position: relative;
    width: 80%;
    margin-left: auto;
    padding-left: 0px;
  }

  #main main {
    margin-left: 50px;
  }

  h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #133886;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
  }

  #content {
    display: flex;
    flex-direction: column;
    text-align: center;

  }

  #profile h3 {
    margin-top: 5%;
  }

  #profile-pic img {
    display: inline-block;
    border: 4px solid #caccd1;
    border-radius: 50%;
    margin-top: 5%;

  }

  .text {
    width: 80%;
    margin-left: 10%;
    text-align: justify;
  }

  #content ul {
    list-style: none;
    padding: 0;

  }

  #content ul li {
    display: inline-block;
    width: 225px;
    min-width: 225px;
    height: 150px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    background: #FFFFFF;
    margin-left: 20px;
    margin-bottom: 20px;
    color: rgb(26, 2, 131);
  }

  .repoLink {
    text-decoration: none;
    text-align: end;
  }

  #content form {
    width: 100%;
    /*background-image: linear-gradient(141deg, #9fb3b8 0%, #1fc8db 51%, #2cb5e8 75%); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;

  }

  .alert {
    background-color: forestgreen;
    width: 50%;
    margin-left: 25%;
    display: none;
    color: #ffffff;
  }

  input {
    margin-top: 10%;
    width: 100%;
    height: 40px;
    font-size: medium;
    border: 0px;
    border-bottom: 1px rgb(92, 90, 90) solid;
  }

  textarea {
    width: 100%;
    height: 130px;
    font-size: medium;
    border: 0px;
    border-bottom: 1px rgb(119, 117, 117) solid;
  }

  .button {
    width: 150px;
    height: 40px;
    padding-right: 20px;
    background-color: #041230;
    color: #fff;
  }

  #contact-form p {
    width: 400px;
  }
}